@mixin alert($red, $green, $blue) {
    background-color: rgba($red, $green, $blue, 0.5); //rgba(255, 165, 80, 1_
    border: 1px solid rgba($red, $green, $blue, 1);
}

.c-feedback {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;

    &.warning {
        @include alert(255, 165, 80);
    }

    &.error {
        @include alert(255, 0, 0);
    }

    &.success {
        @include alert(0, 255, 0);
    }
} 